.Body {
  height: 130vh;
  background: linear-gradient(45deg, #ece9e6 0%, #ffffff 100%);
  display: flex;
  flex-direction: row;
}

.Sidebar {
  background: linear-gradient(45deg, #121212 0%, #181818 100%);
  flex-grow: 2;
  width: 20%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.Body-Main {
  width: 80%;

  flex-direction: row;
  flex-grow: 8;
}

.Body-Main-Top {
  display: flex;

  height: 40vh;
}
.Body-Main-Top-Content {
  box-shadow: 0 20px 10px -20px rgba(0,0,0,0.1) inset, -20px 0 10px -20px rgba(0,0,0,0.45) inset;
  width: 60%;
  padding-top: 15vh;
  display: flex;
  display: inline-block;
  white-space: nowrap;
}
.Body-Main-Top-Text {
  grid-row: 1;
  padding-left: 3vw;
  padding-right: 5vw;
  text-size-adjust: auto;
  font-size: clamp(1vw, 2vw + 1vw, 10vw);
  font-family: "Spotify-Bold";
  font-weight: 800;
  background: linear-gradient(45deg, #121212 0%, #181818 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Body-Main-Top-Playcount {
  font-size: 4vw;
  grid-row: 2;
  font-family: "Spotify";
  font-weight: 600;
  padding-left: 8vw;
  padding-right: 2vw;

  background: -webkit-linear-gradient(45deg, #09009f, #32d390 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.Body-Main-Top-Cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  background: linear-gradient(45deg, #121212 0%, #181818 100%);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.Body-Main-Top-Cover img {
  height: 90%;
  width: 90%;
  border-radius: 25px;
  
}

.Body-Main-Middle-CoverRight {
  flex-grow: 1;
  width: 25%;
  background: linear-gradient(45deg, #121212 0%, #181818 100%);
  display: flex;
}
.Body-Main-Middle-CoverMiddle {
  flex-grow: 1;
  width: 25%;
  background: linear-gradient(45deg, #121212 0%, #181818 100%);
  display: flex;
}

.Body-Main-Middle-CoverLeft {
  flex-grow: 1;
  width: 25%;
  background: linear-gradient(45deg, #121212 0%, #181818 100%);
  
  display: flex;
}

.Body-Main-Middle {
  flex-grow: 1;
  display: flex;
  height: 40vh;
}

.middlestuff-p {
  position: absolute;
  left: 0.8vh;
  bottom: 1vh;
  font-family: "Spotify-Bold";
  padding-top: 7vh;
  font-size: 2vw;
  font-weight: 800;
  background: linear-gradient(45deg, #ece9e6 0%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.middlestuff img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  box-shadow: inset 2px 2px 4px 5px #aaa;
}

.middlestuff {
  position: relative;
 
  width: 100%;
}

.Body-Main-Bottom {
  display: flex;
  height: 50vh;
  width: 100%;
}

.Body-Main-Bottom-Cover {
  width: 33.333%;
  
}

.Body-Main-Bottom-Cover img {
  display: block;

  object-fit: cover;
  width: 100%;
  height: 100%;
}

.Body-Main-Bottom-Content {
  flex-grow: 2;
  box-shadow: 0 20px 10px -20px rgba(0,0,0,0.25) inset, 20px 0 10px -20px rgba(0,0,0,0.05) inset;
  display: flex;
}
.Body-Main-Bottom-Content a {
  display: block;
  font-size: 3vw;
  font-weight: 600;
  width: 40vw;
  margin: auto;
  text-decoration: none;
  padding: 1vw;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;

  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    #84fab0 0%,
    #8fd3f4 51%,
    #84fab0 100%
  );
}

@media (max-width: 500px) {
  .Sidebar,
  .Body-Main-Top-Cover {
    display: none;
  }

  .Body-Main-Top-Content {
    position: relative;
    width: 200%;
    margin: 3vw;
    box-shadow: none;
  }
  .Body-Main-Top-Text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vw;
    padding: 0;
    padding-bottom: 8vh;
  }
  .Body-Main-Top-Playcount {
    position: absolute;

    top: 65%;
    left: 50%;
    transform: translate(-65%, -50%);
    font-size: 6vw;
    padding: 0;
    padding-left: 15vw;
  }

  .Body-Main-Middle,
  .Body-Main-Top,
  .Body-Main-Bottom,
  .Body {
    height: max-content;
  }
}
