.layout {

    display: flex;
    height: 30vh;
    width: 100%;
   
    
    
    
  }
  
  .Header-Content 
  { 
    flex-grow: 3; 
    background: linear-gradient(45deg, #121212 0%, #181818 100%);
    
  
  }
  .Header-Content-Top{
    padding-left: 5vh;
    padding-top: 10vh;
   

  }
  h1{
   
    font-family: "Spotify-Bold";
    font-size: 6vmin;
    font-weight: bold;
  }
  h3{
   font-size: 350%;
   font-family: "Spotify";
   padding-right: 5vh;
   background: -webkit-linear-gradient(45deg, #09009f, #32d390 80%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
  }
  .Header-Content-Bottom{
    padding-left: 9vh;
    padding-top: 2vh;
  }
  .Header-Image {height: 600px;
     width:300px; 
     background-color: blue; }

  .img{
    max-width: 100%;
    max-height: 100%;
  }