@font-face {
  font-family: 'Spotify';
  src: local('GothamMeduim'), url(./Spotify-Font/GothamMedium.ttf) format('opentype');
}
@font-face {
  font-family: 'Spotify-Bold';
  src: local('GothamBold'), url(./Spotify-Font/GothamBold.ttf) format('truetype');
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 
}

.head,
.body,
.footer{
display: flex;
height: 90vh;
align-items: center;
justify-content: center;
font-size: 3rem;
}


